# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.out/
.next/
.turbo/

# Go
apps/api/bin/
*.exe
*.test

# Env
.env
.env.*
!.env.example

# Editor / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
.vercel
